<div class="mat-form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Connexion</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required autocomplete="email">
      <mat-icon matPrefix>mail</mat-icon>
      <mat-error *ngIf="submitted && f['email'].errors">
        <span *ngIf="f['email'].errors['required']">L'email est requis.</span>
        <span *ngIf="f['email'].errors['email']">Format email invalide.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required autocomplete="current-password">
      <button mat-icon-button matSuffix type="button" (click)="hide = !hide" tabindex="-1">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-icon matPrefix>lock</mat-icon>
      <mat-error *ngIf="submitted && f['password'].errors">
        <span *ngIf="f['password'].errors['required']">Le mot de passe est requis.</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="full-width" type="submit">Se connecter</button>
  </form>
</div> 