<mat-toolbar color="primary" class="main-toolbar" role="navigation">
  <span class="logo">
    <mat-icon>local_shipping</mat-icon>
    DeliveryMatch
  </span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button routerLink="/register" routerLinkActive="active-link"><mat-icon>person_add</mat-icon> Inscription</a>
    <a mat-button routerLink="/login" routerLinkActive="active-link"><mat-icon>login</mat-icon> Connexion</a>
    <a mat-button routerLink="/profile" routerLinkActive="active-link"><mat-icon>person</mat-icon> Profil</a>
    <a mat-button routerLink="/trajets" routerLinkActive="active-link"><mat-icon>alt_route</mat-icon> Trajets</a>
    <a mat-button routerLink="/demandes" routerLinkActive="active-link"><mat-icon>inventory_2</mat-icon> Demandes</a>
    <a mat-button routerLink="/admin" routerLinkActive="active-link"><mat-icon>admin_panel_settings</mat-icon> Admin</a>
  </nav>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
